/* @import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
} */

@import "tailwindcss";
/* @plugin "daisyui"; */


@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --color-primary: "#4e7dff";
  --color-secondary: "#f6ad55";
  --color-base-100: "#1a1a1a";
  --color-base-300: "#334155";
  --color-accent: "#7b9acc";
  --color-neutral: "#2a2a2a";
}

@plugin "daisyui" {
  themes: nord --default, night --prefersdark;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
} */